#banner-container {
  text-align: center;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}